<h2>Add an item to your cart?</h2>

<p>
  <%= form_tag products_add_path do %>
    <%= text_field_tag 'Item' %>

    <%= submit_tag 'Add Item To Cart' %>
  <% end %>
</p>


<h2>Your current cart</h2>
